.logo {
  display: block;
  width: 100px;
  height: 78px;
  margin: 21px auto;
}

.login-code-img {
  width: 60px;
  height: 20px;
}

.broker-logo {
  width: 29px;
  height: 29px;
}

.login-btn {
  margin: 20px auto;
  width: 85px;
}