* {
  // outline: 1px solid red;
}
#view-subscribe {
  .page-content {
    padding-bottom: 80px;
    // overflow: hidden;
  }

  .trade-navbar {
    .navbar-bg {
      background-color: #24263f;

      &::after,
      &::before {
        content: unset;
      }
    }
  }
}
.subscribe-page {
  --subscribe-list-header-height: 50px;
  .subscribe-tab-page {
    position: relative;
    padding-top: var(--subscribe-list-header-height);
  }

  .subscribe-list-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--subscribe-list-header-height);
    z-index: 1;

    padding: 0 var(--f7-navbar-inner-padding-left);
    display: flex;
    align-items: center;

    background-color: #21212b;
    font-size: 16px;
    color: #838d9e;

    & > div {
      flex: 1;
      overflow: hidden;
    }

    & > div:nth-child(2),
    & > div:nth-child(3) {
      flex: 0 0 25%;
      text-align: right;
    }

    .subscribe-filter-menu {
      position: relative;
      overflow: visible;

      p {
        padding: 1px 10px;
        margin-bottom: 0;
        display: inline-block;
        border: 1px solid #838d9e;
        border-radius: 10px;
      }

      .subscribe-filter-menu-list {
        position: absolute;
        z-index: 10;
        margin-bottom: 0;
        display: inline-block;
        border: 1px solid #838d9e;
        border-radius: 10px;
        list-style-type: none;
        left: 0;
        top: 120%;
        background-color: #21212b;
        overflow: hidden;
        padding: 0;
        li {
          padding: 5px 10px;
          &.active {
            background-color: #244968;
          }
        }
        li + li {
          border-top: 1px solid #838d9e;
        }
      }
    }
  }

  .list {
    ul {
      background-color: transparent;

      &::before,
      &::after {
        content: unset;
      }

      .item-content {
        padding-left: calc(
          var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left)
        );

        .item-media {
          > div {
            width: 30px;
            height: 30px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .item-title {
          font-size: 14px;
          color: #ffffff;
        }

        .item-inner {
          &::before {
            color: #838d9e;
          }
        }
      }

      .logout-item {
        .item-title {
          color: #838d9e;
        }
      }
    }
  }

  .subscribe-list {
    overflow-y: scroll;
    // max-height: calc(100vh - 44px - 70px - 46px - 80px);

    .subscribe-item {
      padding: 10px 16px;
      display: flex;

      &:nth-child(2n + 2) {
        background-color: #293842;
      }

      .subscribe-item-left {
        margin-right: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        .date {
          height: 76px;
          width: 76px;
          border: 1px solid rgba(242, 226, 5, 1);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          p {
            flex-basis: 100%;
            margin-bottom: 0;
            font-size: 16px;
            color: #ffffff;
            text-align: center;
          }
        }
      }

      .subscribe-item-middle {
        flex: 1 1 0;
        display: flex;
        align-content: center;
        flex-wrap: wrap;

        p {
          flex-basis: 100%;
          font-size: 16px;
          color: #ffffff;
          margin-bottom: 0;

          &:first-child {
            margin-bottom: 9px;
          }
        }

        .subscribe-remark {
          display: inline-block;
          color: #21212b;
          padding: 1px 7px;
          background-color: #f2e205;
          border-radius: 4px;
          margin-right: 10px;
        }

        .subscribe-price {
          color: #44d7b6;
        }
      }

      .subscribe-item-right {
        display: flex;
        align-items: center;
        color: #ffffff;

        .icon-forward:after {
          font-size: 8px;
        }
      }
      &:active {
        opacity: 0.5;
      }

      &.is-subscribed {
        .date {
          border: 1px solid #32d74b;
        }
        .subscribe-remark {
          background-color: #32d74b;
        }
      }
      &.is-disabled {
        .date {
          border: 1px solid #838d9e;
          p {
            color: #838d9e;
          }
        }
        .subscribe-remark {
          background-color: #838d9e;
        }
      }
    }
  }
}

.subscribe-detail-header,
.subscribe-detail-content .subscribe-detail-item {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.subscribe-detail-header {
  border-bottom: 1px solid rgba(46, 59, 85, 1);
  font-size: 18px;
}

.subscribe-detail-content {
  font-size: 14px;
  margin-bottom: 55px;
  overflow-y: scroll;
  .subscribe-detail-title {
    color: #838d9e;
  }
  .subscribe-detail-container-done {
    border-top: 1px solid rgba(46, 59, 85, 1);
  }
}

.subscribe-detail-submit-btn {
  width: 160px;
  margin: auto;
  line-height: 30px;
  // background: rgba(250, 100, 0, 1);
  background: #f2e205;
  border-radius: 4px;
  color: #21212b;
  text-align: center;
  font-weight: bold;
  font-size: 16px;

  &:active {
    background: #807816;
    border: 1px solid #807816;
  }
}

.subscribe-order-header {
  padding: 0px 10px 16px;
  border-bottom: 1px solid rgba(46, 59, 85, 1);
  font-size: 18px;
  color: #ffffff;

  .subscribe-order-detail {
    display: flex;
    justify-content: center;
    .order-item {
      padding: 0px 10px;
      .order-item-price {
        color: #44d7b6;
      }
    }
  }
}

.subscribe-order-content {
  .order-container-top,
  .order-container-bottom {
    padding: 16px 16px 4px 16px;
    background-color: #2d2d3e;
    margin-top: 20px;
  }
  .order-container-bottom {
    margin-bottom: 20px;
  }
}

.order-input-item {
  display: flex;
  margin-bottom: 20px;

  .order-input-item-title {
    color: #ffffff;
    flex-basis: 24.2%;
    line-height: 30px;
    font-size: 16px;
  }

  .order-input-item-text {
    color: #ffffff;
    padding: 3px 0;
  }

  .order-input-item-btn-group {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 75.8%;
    justify-content: space-between;

    .order-input-item-add-btn,
    .order-input-item-less-btn {
      line-height: 30px;
    }

    .order-input-item-add-btn,
    .order-input-item-less-btn {
      width: 50px;
      text-align: center;
      background: rgba(131, 141, 158, 1);
      color: #fff;
      &:active {
        opacity: 0.5;
      }
    }

    .order-input-item-less-btn {
      border-radius: 4px 0px 0px 4px;
    }

    .order-input-item-add-btn {
      border-radius: 0px 4px 4px 0px;
    }

    .order-input-item-input {
      color: #f2e205;
      width: calc(100% - 100px);
      border-top: 1px solid #838d9e;
      border-bottom: 1px solid #838d9e;
      line-height: 28px;
      text-align: center;

      input {
        line-height: inherit;
        text-align: center;
        width: 100%;
      }
    }
  }

  .select-option {
    margin-bottom: 0px !important;
    width: 75% !important;
  }
  .msg-error {
    font-size: 12px;
    color: #ff3b30;
  }
}

.subscribe-order-submit-btn {
  width: 160px;
  margin: auto;
  line-height: 30px;
  background: #f2e205;
  border-radius: 4px;
  color: #21212b;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid rgba(46, 59, 85, 1);

  &:active {
    background: #807816;
    border: 1px solid #807816;
  }
}

.subscribe-order-remarks-container {
  padding: 8px 16px;
  border-top: 1px solid rgba(46, 59, 85, 1);
  font-size: 14px;

  .order-remarks-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .order-remarks-item-title {
      color: #838d9e;
      flex-basis: 24.2%;
      line-height: 27px;
    }

    .order-remarks-item-content {
      color: #fff;
      flex-basis: 75.8%;
      line-height: 27px;
      p {
        margin-bottom: -5px;
      }
    }
  }
}
