* {
  // outline: 1px solid red;
}

#view-market {
  .symbol-detail-navbar-center {
    font-size: 18px;
    font-weight: normal;

    .stock-code {
      margin-left: 10px;
    }
  }
}

.market-navbar {
  .left {
    width: calc(100% - 70px);
    overflow-y: scroll;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .right {
    margin-left: 0 !important;
  }

  .market-navbar-item {
    display: inline-block;
    line-height: 44px;
    white-space: nowrap;
    position: relative;

    &.active {
      color: #f2e205;

      &::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f2e205;
        border-radius: 50%;
      }
    }
  }

  .market-navbar-item + .market-navbar-item {
    margin-left: 20px;
  }
}

.sortable-self-select-list {
  .item-content {
    padding: 0 16px;
  }

  .sortable-handler {
    width: unset;
    right: 16px;

    &::after {
      color: #838d9e;
    }
  }

  label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox {
    position: relative;
    background: #ff3b30;

    &::after {
      content: "－";
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      font-weight: bold;
      font-family: unset;
      width: unset;
      height: unset;
    }
  }
}

#view-market {
  .list {
    ul::before {
      content: unset;
    }
  }
}

.symbol-searchbar {
  padding: 0 16px;

  .searchbar {
    background-color: unset;

    &::after {
      content: unset;
    }

    .searchbar-inner {
      padding: 0;

      .searchbar-input-wrap {
        border-radius: 10px;
        overflow: hidden;

        input {
          background-color: #17283e !important;
          //color: #838d9e;
          color: #fff;
          font-size: 14px;

          &::placeholder {
            //color: inherit;
            color: #838d9e;
            font-size: inherit;
          }
        }

        .searchbar-icon:after {
          color: #838d9e;
        }
      }
    }
  }
}

.trader-status {
  --trader-status-color: #fff;
  font-size: 10px;
  padding: 3px 15px;
  border-radius: 4px;
  color: var(--trader-status-color, #fff);
  border: 1px solid var(--trader-status-color, #fff);
  // color: #f2e205;
  // border: 1px solid #f2e205;
}

.add-icon {
  width: 22px;
  height: 22px;
  background: url("../../static/icons/self-select-icon.svg");
  background-repeat: no-repeat;
}

.add-selected-icon {
  width: 22px;
  height: 22px;
  background: url("../../static/icons/self-select-icon-active.svg");
  background-repeat: no-repeat;
}

.symbol-searchbar {
  input {
    background-color: #fff !important;
  }
}

.self-select-header {
  height: r(44);
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: #21212b;
  font-size: 14px;
  color: #838d9e;
  padding: 0 var(--f7-navbar-inner-padding-left);
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    flex: 1;
    // text-align: center;
    // padding: 0 r(5);
    overflow: hidden;
  }

  & > div:nth-child(2),
  & > div:nth-child(3) {
    flex: 0 0 25%;
    text-align: right;
  }

  .market-type {
    position: relative;
    overflow: visible;

    p {
      padding: 1px 10px;
    }

    p,
    ul {
      margin-bottom: 0;
      display: inline-block;
      border: 1px solid #838d9e;
      border-radius: 10px;
    }

    ul {
      position: absolute;
      list-style-type: none;
      left: 0;
      top: 120%;
      background-color: #21212b;
      overflow: hidden;
      padding: 0;

      li {
        padding: 5px 10px;

        &.active {
          background-color: #244968;
        }
      }

      li + li {
        border-top: 1px solid #838d9e;
      }
    }
  }
}

.self-select-table {
  margin-top: r(44);
  margin-bottom: 80px;
  position: relative;

  * {
    user-select: none;
  }
  background-color: #21212b;
  // padding-bottom: var(--f7-toolbar-height);

  .self-select-tr {
    .item-main-info,
    .item-sub-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .item-main-info {
      & > div {
        flex: 1;
        // text-align: center;
        // padding: 0 r(5);
        overflow: hidden;
      }

      & > div:nth-child(2),
      & > div:nth-child(3) {
        flex: 0 0 25%;
      }
    }
  }

  .self-select-tr {
    // height: r(81);
    padding: r(10) 0;
    background-color: #21212b;
    margin: 0 var(--f7-navbar-inner-padding-left);

    // & :first-child div {
    //   text-align: left;
    // }

    .self-select-time {
      color: #8c8c8c;
      font-size: r(12);
    }

    .self-select-name {
      color: #eeeeee;
      font-size: 18px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 7px;

      div {
        margin-bottom: 11px;
      }

      p {
        margin-bottom: 0px;

        .symbol-type-code {
          font-size: 10px;
          color: #21212b;
          padding: 1px 3px;
          background-color: #0091ff;
          margin-right: 6px;
          border-radius: 1px;
        }

        .symbol-code {
          font-size: 16px;
          color: #838d9e;
        }
      }
    }

    .self-select-spread {
      color: #838d9e;
      font-size: 10px;
    }

    .self-select-code {
      color: #8c8c8c;
      font-size: 10px;

      .symbol-type-code {
        font-size: 6px;
        color: #21212b;
        padding: 1px 3px;
        background-color: #0091ff;
        margin-right: 6px;
        border-radius: 1px;
      }

      .symbol-code {
        font-size: 10px;
        color: #838d9e;
      }
    }

    .self-select-buy-sell-block {
      text-align: right;
      transition: background-color 1s;
      margin: r(5) 0;
      color: #ffffff;
      font-weight: bold;
    }

    .self-select-buy-sell-block.increase {
      // background-color: #e94a39;
      color: var(--up-color);
    }

    .self-select-buy-sell-block.decrease {
      // background-color: #44d7b6;
      color: var(--down-color);
    }

    .self-select-low {
      color: #8c8c8c;
      font-size: r(11);
      // text-align: left;
    }

    .self-select-high {
      color: #8c8c8c;
      font-size: r(11);
      // text-align: left;
    }
  }

  & .self-select-tr:not(:last-child) {
    border-bottom: r(1) solid rgba(0, 0, 0, 0.1);
  }

  .large-number {
    font-size: r(22);
  }
}

.symbol-display-block {
  height: var(--f7-list-item-min-height);
  line-height: var(--f7-list-item-min-height);
}

.nav-icon {
  padding: 10px 5px;
  width: 30px;

  &:active {
    opacity: 0.5;
  }
}

.nav-icon + .nav-icon {
  margin-left: 10px;
}

.hot-stock-market {
  font-size: 14px;
  color: #eeeeee;
  padding-left: 16px;
  // margin-bottom: 10px;
}

// FIXME: 加了 stock-container-price 之後 SymbolDetail 頁跑版，先回退上一版，待重新合併
.stock-container {
  color: #44d7b6;
  display: flex;
  justify-content: center;
  //align-items: stretch;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  .now-stock {
    font-size: 36px;
  }

  .arrow,
  .spread-stock {
    display: flex;
    align-content: center;
  }

  .arrow {
    margin-left: 6px;
    margin-right: 10px;

    .deg180 {
      transform: rotateX(180deg);
    }
  }

  .spread-stock {
    font-size: 12px;
    flex-wrap: wrap !important;

    p {
      margin: 0;
      flex-basis: 100%;
    }
  }
}

.switch-chart {
  line-height: 38px;
  color: #838d9e;
  text-align: center;

  span {
    display: inline-block;
    padding: 0 10px;

    &.active {
      color: #f2fd06;
    }
  }
}

.stock-detail {
  padding: 0 16px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  div {
    padding: 5px 0;
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;

    span:nth-child(1) {
      color: #838d9e;
    }

    span:nth-child(2) {
      color: #ffffff;
    }
  }
}

.stock-tabbar {
  .toolbar-inner {
    overflow: unset;
  }

  .tab-link-active {
    span {
      color: rgba(242, 226, 5, 1);
    }
  }

  .tabbar-label {
    display: flex;
    flex-basis: 40%;
  }

  .order-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    z-index: 100;

    &:active {
      opacity: 0.5;
    }
  }
}

.search-result-container {
  .item-inner {
    align-items: stretch;
  }

  .search-result {
    flex: 1 1 0;

    > p {
      &.search-result-name {
        color: #ffffff;
        font-size: 18px;
        //margin-bottom: 10px;
        margin-bottom: 0px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .symbol-type-code {
      font-size: 6px;
      color: #21212b;
      padding: 1px 3px;
      background-color: #0091ff;
      margin-right: 6px;
      border-radius: 1px;
    }

    .symbol-code {
      //font-size: 10px;
      font-size: 16px;
      color: #838d9e;
    }
  }

  .switch-self-select {
    display: flex;
    align-items: center;
  }
}

.symbol-chart-container {
  width: 100%;
  height: 300px;
}
