* {
  // outline: 1px solid red;
}

.market-navbar {
  .left {
    width: calc(100% - 60px);
    overflow-y: scroll;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .right {
    margin-left: 0 !important;
  }

  .market-navbar-item {
    display: inline-block;
    line-height: 44px;
    white-space: nowrap;
    position: relative;

    &.active {
      color: #f2e205;

      &::after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f2e205;
        border-radius: 50%;
      }
    }
  }

  .market-navbar-item + .market-navbar-item {
    margin-left: 20px;
  }
}

.circle-add-icon {
  width: 22px;
  height: 22px;
  background: url('../../assets/img/circle-add.svg');
  background-repeat: no-repeat;
}

.circle-add-selected-icon {
  width: 22px;
  height: 22px;
  background: url('../../assets/img/circle-add-selected.svg');
  background-repeat: no-repeat;
}

.symbol-searchbar {
  input {
    background-color: #fff !important;
  }
}

.self-select-table {
  margin-bottom: 80px;

  * {
    user-select: none;
  }
  background-color: #21212b;
  // padding-bottom: var(--f7-toolbar-height);

  .self-select-tr {
    .item-main-info,
    .item-sub-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .item-main-info {
      & > div {
        flex: 1;
        // text-align: center;
        // padding: 0 r(5);
        overflow: hidden;
      }

      & > div:nth-child(2),
      & > div:nth-child(3) {
        flex: 0 0 25%;
      }
    }
  }

  .self-select-table-header {
    height: r(44);
    background-color: #21212b;
    font-size: 12px;
    color: #838d9e;
    padding: 0 var(--f7-navbar-inner-padding-left);
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
      flex: 1;
      // text-align: center;
      // padding: 0 r(5);
      overflow: hidden;
    }

    & > div:nth-child(2),
    & > div:nth-child(3) {
      flex: 0 0 25%;
      text-align: right;
    }
  }

  .self-select-tr {
    // height: r(81);
    padding: r(10) 0;
    background-color: #21212b;
    margin: 0 var(--f7-navbar-inner-padding-left);

    // & :first-child div {
    //   text-align: left;
    // }

    .self-select-time {
      color: #8c8c8c;
      font-size: r(12);
    }

    .self-select-name {
      color: #eeeeee;
      font-size: 12px;
      // padding: r(5) 0 r(10);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .self-select-spread {
      color: #838d9e;
      font-size: 10px;
    }

    .self-select-code {
      color: #8c8c8c;
      font-size: 10px;
    }

    .self-select-buy-sell-block {
      // width: r(75);
      // height: r(42);
      // line-height: r(42);
      border-radius: 4px;
      font-size: 12px;
      // background-color: #fff;
      // color: #325497;
      text-align: right;
      transition: background-color 1s;
      margin: r(5) 0;
    }

    .self-select-buy-sell-block.increase {
      background-color: #e94a39;
      color: #fff;
    }

    .self-select-buy-sell-block.decrease {
      background-color: #44d7b6;
      color: #fff;
    }

    .self-select-low {
      color: #8c8c8c;
      font-size: r(11);
      // text-align: left;
    }

    .self-select-high {
      color: #8c8c8c;
      font-size: r(11);
      // text-align: left;
    }
  }

  & .self-select-tr:not(:last-child) {
    border-bottom: r(1) solid rgba(0, 0, 0, .1);
  }

  .large-number {
    font-size: r(22);
  }
}

.symbol-display-block {
  height: var(--f7-list-item-min-height);
  line-height: var(--f7-list-item-min-height);
}

.nav-icon {
  padding: 10px 5px;
}