* {
  // outline: 1px solid red;
}

.market-navbar {
  .left {
    width: calc(100% - 70px);
    overflow-y: scroll;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .right {
    margin-left: 0 !important;
  }

  .market-navbar-item {
    display: inline-block;
    line-height: 44px;
    white-space: nowrap;
    position: relative;

    &.active {
      color: #f2e205;

      &::after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f2e205;
        border-radius: 50%;
      }
    }
  }

  .market-navbar-item + .market-navbar-item {
    margin-left: 20px;
  }
}

.sortable-self-select-list {
  .item-content {
    padding: 0 16px;
  }

  .sortable-handler {
    width: unset;
    right: 16px;

    &::after {
      color: #fff;
    }
  }

  label.item-checkbox input[type=checkbox]:checked ~ .icon-checkbox {
    position: relative;
    background: #ff3b30;

    &::after {
      content: "ï¼";
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      font-weight: bold;
      font-family: unset;
      width: unset;
      height: unset;
    }
  }
}

#view-market {
  .list {
    ul::before {
      content: unset;
    }
  }
}

.symbol-searchbar {
  padding: 0 16px;

  .searchbar {
    background-color: unset;

    &::after {
      content: unset;
    }

    .searchbar-inner {
      padding: 0;

      .searchbar-input-wrap {
        border-radius: 10px;
        overflow: hidden;

        input {
          background-color: #17283e !important;
          color: #838d9e;
          font-size: 12px;

          &::placeholder {
            color: inherit;
            font-size: inherit;
          }
        }

        .searchbar-icon:after {
          color: #838d9e;
        }
      }
    }
  }
}

.transistion-text {
  font-size: 10px;
  padding: 3px 15px;
  color: #f2e205;
  border-radius: 4px;
  border: 1px solid rgba(242, 226, 5, 1);
}

.add-icon {
  width: 22px;
  height: 22px;
  background: url('../../static/icons/self-select-icon.svg');
  background-repeat: no-repeat;
}

.add-selected-icon {
  width: 22px;
  height: 22px;
  background: url('../../static/icons/self-select-icon-active.svg');
  background-repeat: no-repeat;
}

.symbol-searchbar {
  input {
    background-color: #fff !important;
  }
}

.self-select-table {
  margin-bottom: 80px;

  * {
    user-select: none;
  }
  background-color: #21212b;
  // padding-bottom: var(--f7-toolbar-height);

  .self-select-tr {
    .item-main-info,
    .item-sub-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .item-main-info {
      & > div {
        flex: 1;
        // text-align: center;
        // padding: 0 r(5);
        overflow: hidden;
      }

      & > div:nth-child(2),
      & > div:nth-child(3) {
        flex: 0 0 25%;
      }
    }
  }

  .self-select-table-header {
    height: r(44);
    background-color: #21212b;
    font-size: 12px;
    color: #838d9e;
    padding: 0 var(--f7-navbar-inner-padding-left);
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
      flex: 1;
      // text-align: center;
      // padding: 0 r(5);
      overflow: hidden;
    }

    & > div:nth-child(2),
    & > div:nth-child(3) {
      flex: 0 0 25%;
      text-align: right;
    }

    .market-type {
      position: relative;
      overflow: visible;

      p {
        padding: 1px 10px;
      }

      p,
      ul {
        margin-bottom: 0;
        display: inline-block;
        border: 1px solid #838d9e;
        border-radius: 10px;
      }

      ul {
        position: absolute;
        list-style-type: none;
        left: 0;
        top: 120%;
        background-color: #21212b;
        overflow: hidden;
        padding: 0;

        li {
          padding: 5px 10px;

          &.active {
            background-color: #244968;
          }
        }

        li + li {
          border-top: 1px solid #838d9e;
        }
      }
    }
  }

  .self-select-tr {
    // height: r(81);
    padding: r(10) 0;
    background-color: #21212b;
    margin: 0 var(--f7-navbar-inner-padding-left);

    // & :first-child div {
    //   text-align: left;
    // }

    .self-select-time {
      color: #8c8c8c;
      font-size: r(12);
    }

    .self-select-name {
      color: #eeeeee;
      font-size: 12px;
      // padding: r(5) 0 r(10);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .self-select-spread {
      color: #838d9e;
      font-size: 10px;
    }

    .self-select-code {
      color: #8c8c8c;
      font-size: 10px;

      .symbol-type-code {
        font-size: 6px;
        color: #21212b;
        padding: 1px 3px;
        background-color: #0091ff;
        margin-right: 6px;
        border-radius: 1px;
      }

      .symbol-code {
        font-size: 10px;
        color: #838d9e;
      }
    }

    .self-select-buy-sell-block {
      // width: r(75);
      // height: r(42);
      // line-height: r(42);
      border-radius: 4px;
      font-size: 12px;
      // background-color: #fff;
      // color: #325497;
      text-align: right;
      transition: background-color 1s;
      margin: r(5) 0;
      color: #ffffff;
    }

    .self-select-buy-sell-block.increase {
      background-color: #e94a39;
      color: #fff;
    }

    .self-select-buy-sell-block.decrease {
      background-color: #44d7b6;
      color: #fff;
    }

    .self-select-low {
      color: #8c8c8c;
      font-size: r(11);
      // text-align: left;
    }

    .self-select-high {
      color: #8c8c8c;
      font-size: r(11);
      // text-align: left;
    }

    .stock-green-gif {
      background-image: url('../../assets/img/stock-green.gif');
      background-size: 100% 100%;
    }

    .stock-red-gif {
      background-image: url('../../assets/img/stock-red.gif');
      background-size: 100% 100%;
    }
  }

  & .self-select-tr:not(:last-child) {
    border-bottom: r(1) solid rgba(0, 0, 0, .1);
  }

  .large-number {
    font-size: r(22);
  }
}

.symbol-display-block {
  height: var(--f7-list-item-min-height);
  line-height: var(--f7-list-item-min-height);
}

.nav-icon {
  padding: 10px 5px;
}

.nav-icon + .nav-icon {
  margin-left: 10px;
}

.hot-stock-market {
  font-size: 14px;
  color: #eeeeee;
  padding-left: 16px;
  // margin-bottom: 10px;
}

.stock-container {
  color: #44d7b6;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 10px;

  .now-stock {
    font-size: 36px;
  }

  .arrow,
  .spread-stock {
    display: flex;
    align-content: center;
  }

  .arrow {
    margin-left: 6px;
    margin-right: 10px;
  }

  .spread-stock {
    font-size: 12px;
    flex-wrap: wrap;

    p {
      margin: 0;
      flex-basis: 100%;
    }
  }
}

.switch-chart {
  line-height: 38px;
  color: #838d9e;
  text-align: center;

  span {
    display: inline-block;
    padding: 0 10px;

    &.active {
      color: #f2fd06;
    }
  }
}

.stock-detail {
  padding: 0 16px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  div {
    padding: 5px 0;
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;

    span:nth-child(1) {
      color: #838d9e;
    }

    span:nth-child(2) {
      color: #ffffff;
    }
  }
}

.stock-tabbar {
  .toolbar-inner {
    overflow: unset;
  }

  .tab-link-active {
    span {
      color: rgba(242, 226, 5, 1);
    }
  }

  .tabbar-label {
    display: flex;
    flex-basis: 40%;
  }

  .order-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    z-index: 100;
  }
}

.search-result-container {
  .item-inner {
    align-items: stretch;
  }

  .search-result {
    flex: 1 1 0;

    > p {
      &.search-result-name {
        color: #ffffff;
        font-size: 12px;
        margin-bottom: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .symbol-type-code {
      font-size: 6px;
      color: #21212b;
      padding: 1px 3px;
      background-color: #0091ff;
      margin-right: 6px;
      border-radius: 1px;
    }

    .symbol-code {
      font-size: 10px;
      color: #838d9e;
    }
  }

  .switch-self-select {
    display: flex;
    align-items: center;
  }
}
