@import "antd-mobile.min.css";

.link.back {
  color: white;
}

.view.view-main {
  z-index: 0;
}

.list {
  ul {
    .item-content {
      padding-left: calc(
        var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left)
      );
    }
  }
}

// div[id^="am-picker-popup-container"] {
//   position: relative;
//   z-index: 5000;
// }

.info-status-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #8c8c8c;

  > .info-status-line {
    position: absolute;
    top: 30px;
    left: 55px;
    z-index: -1;
    width: calc(100% - 100px);
    height: 2px;
    background-color: #8c8c8c;
  }

  > .info-status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.am-list-item .am-input-label.am-input-label-5 {
  width: 120px;
}

.id-card-title {
  padding-left: 15px;
  font-size: 17px;
  line-height: 44px;
  background-color: #fff;
}

.id-card-form {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.ant-upload-picture-card-wrapper {
  flex: 1 1 0;
  max-width: 40%;
  // width: 400px;
  // width: 100%;
  // max-width: 200px;
  height: 30vw;
  max-height: 300px;
  border: 2px dashed #8c8c8c;

  .ant-upload {
    height: 100%;
  }

  .upload-image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    > div {
      color: #8c8c8c;
      text-align: center;
    }
  }
}

.ant-upload-picture-card-wrapper + .ant-upload-picture-card-wrapper {
  margin-left: 30px;
}

.message-wrap {
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  background-color: #fff;

  &.announcement {
    border-bottom: 0.00267rem solid rgba(0, 0, 0, 0.1);
  }

  .message-icon-container {
    width: 44px;
  }

  .message-content-container {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    padding: 0 0 0 5px;

    .message-content-title {
      flex-basis: 35%;
      font-size: 17px;
      color: #000000;
    }

    .message-content-time {
      flex-basis: 65%;
      text-align: right;
    }

    .message-content-content {
      flex-basis: 100%;
      margin-top: 7px;
    }

    .message-content-time,
    .message-content-content {
      color: #8c8c8c;
    }

    .message-date {
      margin-right: 5px;
      font-size: 17px;
    }
  }

  .message-goto-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    color: #8c8c8c;
  }

  p {
    margin: 0;
  }

  * {
    // outline: 1px solid red;
  }
}

.card-wrap {
  padding: 20px;

  .card-container {
    padding: 0 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;

    .card-title-container {
      position: relative;
      display: flex;
      padding: 10px 0;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        content: "";
        background-color: #8c8c8c;
      }
    }

    .card-title,
    .card-time {
      flex: 1 1 0;
    }

    .card-title {
      font-size: 17px;
    }

    .card-time {
      font-size: 15px;
      color: #8c8c8c;
      text-align: right;
    }

    .card-content-container {
      padding: 10px 0;

      .card-content {
        font-size: 15px;
        color: #333;
      }
    }
  }
}
