* {
  // outline: 1px solid red;
}

#view-news {
  .page-content {
    position: relative;
  }

  .am-tabs-content-wrap {
    padding-bottom: 80px;
  }

  .am-tabs-default-bar-tab {
    font-size: 18px;

    &::after {
      content: unset !important;
    }
  }

  .am-tabs-default-bar-tab-active {
    font-size: 20px;
  }

  .tab-active-bar {
    height: 43.5px;
    width: 100%;
    position: absolute;
    top: calc(var(--f7-page-navbar-offset, 0px) + var(--f7-page-toolbar-top-offset, 0px) + var(--f7-page-subnavbar-offset, 0px) + var(--f7-page-searchbar-offset, 0px) + var(--f7-page-content-extra-padding-top, 0px));
    left: 0;

    .tab-active-dot {
      width: 6px;
      height: 6px;
      background-color: #f2e205;
      border-radius: 50%;
      position: absolute;
      left: 0;
      bottom: 4px;
      transition: cubic-bezier(.35, 0, .25, 1), left .3s;
    }
  }
}
