* {
  // outline: 1px solid red;
}

#view-news {
  .page-content {
    position: relative;
  }

  .am-tabs-default-bar-tab:after {
    content: unset !important;
  }

  .tab-active-bar {
    height: 43.5px;
    width: 100%;
    position: absolute;
    top: calc(var(--f7-page-navbar-offset, 0px) + var(--f7-page-toolbar-top-offset, 0px) + var(--f7-page-subnavbar-offset, 0px) + var(--f7-page-searchbar-offset, 0px) + var(--f7-page-content-extra-padding-top, 0px));
    left: 0;

    .tab-active-dot {
      width: 6px;
      height: 6px;
      background-color: #f2e205;
      border-radius: 50%;
      position: absolute;
      left: 0;
      bottom: 4px;
      transition: cubic-bezier(.35, 0, .25, 1), left .3s;
    }
  }

  .news-content {
    .news-content-item {
      padding: 10px 16px;
      border-bottom: 1px solid #2e3b55;
      display: flex;

      .news-content-item-text {
        flex: 1 1 0;
        font-size: 14px;
        display: flex;
        align-items: stretch;
        align-content: space-between;
        flex-wrap: wrap;

        p {
          margin-bottom: 0;
          flex-basis: 100%;
        }

        p:nth-child(1) {
          color: #ffffff;
        }

        P:nth-child(2) {
          color: #838d9e;
          vertical-align: bottom;
        }
      }

      .news-content-item-img {
        width: 80px;
        height: 66px;
        margin-left: 10px;
        background-color: #fff;
      }
    }
  }
}
