* {
  // outline: 1px solid red;
}

.trade-detail {
  .trade-detail-title {
    background-color: #fff;
    font-size: r(17);
    text-align: center;
    font-weight: bold;
    text-align: center;
    padding: r(16) 0;
  }

  .trade-detail-info {
    text-align: center;
    width: 100%;
  }

  .trade-detail-lots {
    font-size: r(17);
    text-align: center;
    padding: r(12) 0;

    input {
      text-align: center;
      color: $grey;
    }

    .blue {
      color: #007aff;
    }
  }

  .trade-detail-stepper {
    .icon {
      color: #007aff;
    }

    input {
      text-align: center;
      color: $grey;
    }
  }

  .trade-detail-type {
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: height .3s;
    font-size: r(17);
    text-align: center;
    //font-weight: bold;

    &.active {
      height: 200px;
    }

    .trade-detail-type-item {
      padding: r(12) 0;
    }
  }

  .trade-detail-price {
    font-size: r(17);
    font-weight: bold;
    text-align: center;

    strong {
      font-size: r(27);
    }
  }

  .trade-detail-actions {
    color: white;
    font-size: r(17);
    text-align: center;

    .trade-detail-action {
      padding: r(12) 0;
    }

    &.update {
      //background-color: $;
      padding: r(12) 0;
    }
  }

  .chart {
    width: 100%;
    height: r(400);
  }

  .stepper {
    .stepper-button-minus,
    .stepper-input-wrap,
    .stepper-button-plus {
      border: none;
    }

    .stepper-button-minus,
    .stepper-button-plus {
      &::before,
      &::after {
        background-color: #007aff;
      }
    }

    .stepper-input-wrap {
      input {
        color: $grey;
        width: 100px;
      }

      &.up {
        input {
          color: $up;
        }
      }

      &.down {
        input {
          color: $down;
        }
      }
    }
  }
}

.trade-detail-stock-container {
  color: #44d7b6;
  display: flex;
  justify-content: center;
  //align-items: stretch;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;

  .now-stock {
    font-size: 36px;
  }

  .arrow,
  .spread-stock {
    display: flex;
    align-content: center;
  }

  .arrow {
    margin-left: 6px;
    margin-right: 10px;
  }

  .spread-stock {
    font-size: 12px;
    flex-wrap: wrap !important;

    p {
      margin: 0;
      flex-basis: 100%;
    }
  }

  .detail-btn {
    position: absolute;
    font-size: 10px;
    padding: 3px 10px;
    color: #f2e205;
    border-radius: 4px;
    border: 1px solid rgba(242, 226, 5, 1);
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.trade-detail-price {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 20px;

  .price-item {
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price-item-title {
      font-size: 16px;
      color: #838d9e;
    }

    .price-item-content {
      font-size: 16px;
    }
  }
}

.trade-detail-more-info-container {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 20px;
  transition: max-height 0.5s;

  &.show {
    max-height: 700px;
  }

  .trade-detail-more-info-contract {
    margin-bottom: 10px;
    padding: 10px 16px;
    border-top: 1px solid #2e3b55;
    border-bottom: 1px solid #2e3b55;

    .trade-detail-more-info-contract-title {
      font-size: 16px;
      color: #fff;
      margin-bottom: 5px;
    }

    .trade-detail-more-info-contract-content {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      div {
        padding: 5px 0;
        flex-basis: 40%;
        display: flex;
        justify-content: space-between;

        span:nth-child(1) {
          color: #838d9e;
        }

        span:nth-child(2) {
          color: #ffffff;
        }
      }
    }
  }

  .trade-detail-more-info-news {
    // .trade-detail-more-info-news-tabs {
    //   padding-left: 16px;
    //   font-size: 16px;
    //   color: #f2e205;
    //   display: flex;

    //   p {
    //     display: inline-block;
    //     margin-bottom: 0;

    //     &.active {
    //       border-bottom: 1px solid #f2e205;
    //     }
    //   }

    //   p + p {
    //     margin-left: 30px;
    //   }
    // }

    .am-tabs-default-bar-tab {
      &::after {
        content: unset !important;
      }
    }

    .news-content,
    .fund-content {
      border-top: 1px solid #2e3b55;
      border-bottom: 1px solid #2e3b55;
    }

    .news-content {
      max-height: 300px;
      overflow: scroll;

      > div + div {
        border-top: 1px solid #2e3b55;
      }

      > div {
        padding: 10px 16px;
        position: relative;

        > p:nth-child(1) {
          color: #ffffff;
        }

        > p:nth-child(2) {
          color: #838d9e;
          margin-bottom: 0;
          font-size: 12px;
        }

        // > span {
        //   width: 7px;
        //   height: 7px;
        //   background: rgba(233, 74, 57, 1);
        //   border-radius: 50%;
        //   position: absolute;
        //   right: 13px;
        //   top: 50%;
        //   transform: translateX(-50%);
        // }
      }
    }

    .fund-content {
      padding: 16px 14px;
      border-bottom: 1px solid #2e3b55;

      > div + div {
        border-top: unset;
      }

      > div {
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        border: 1px solid #2e3b55;

        &:nth-child(2) {
          background-color: #2e3b55;
          line-height: 28px;
        }

        &:nth-child(n+3) {
          display: flex;

          > span {
            flex: 1 1 0;
            line-height: 26px;
            border-top: 1px solid #2e3b55;
          }

          > span + span {
            border-left: 1px solid #2e3b55;
          }
        }

        &:first-child {
          border-radius: 4px 4px 0px 0px;
        }

        &:last-child {
          border-radius: 0px 0px 4px 4px;
        }
      }

      .spin-container {
        padding: 10px 0;
        display: flex;
        justify-content: center;
      }
    }
  }
}

.trade-detail-input-container {
  padding: 0 16px;
  font-size: 14px;
  font-size: 16px;

  .trade-detail-input-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .trade-detail-input-item-title {
      color: #ffffff;
      flex-basis: 24.2%;
      line-height: 30px;
      font-size: 16px;
    }

    .trade-detail-input-item-btn-group {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 75.8%;
      justify-content: space-between;

      .trade-detail-input-item-text {
        color: #ffffff;
        padding: 3px 0;
      }

      .trade-detail-input-item-btn,
      .trade-detail-input-item-btn-small {
        color: #838d9e;
        padding: 3px 0;
        border-radius: 4px;
        border: 1px solid #838d9e;
        text-align: center;
        font-size: 16px;
      }

      .trade-detail-input-item-btn {
        width: 120px;
      }

      .trade-detail-input-item-btn-small {
        width: 78px;
      }

      .btn-active {
        color: #f2e205;
        //border: 1px solid #f2e205;
      }

      .trade-detail-input-item-btn + .trade-detail-input-item-btn {
        // margin-left: 20px;
      }

      .trade-detail-input-item-btn:nth-child(n+3) {
        margin-top: 20px;
      }

      .trade-detail-input-item-add-btn,
      .trade-detail-input-item-less-btn,
      .trade-detail-input-item-input {
        line-height: 30px;
      }

      .trade-detail-input-item-add-btn,
      .trade-detail-input-item-less-btn {
        width: 50px;
        text-align: center;
        background: rgba(131, 141, 158, 1);
        color: #fff;
      }

      .trade-detail-input-item-less-btn {
        border-radius: 4px 0px 0px 4px;
      }

      .trade-detail-input-item-add-btn {
        border-radius: 0px 4px 4px 0px;
      }

      .trade-detail-input-item-input {
        color: #f2e205;
        width: calc(100% - 100px);
        border-top: 1px solid #838d9e;
        border-bottom: 1px solid #838d9e;
        line-height: 28px;
        text-align: center;

        input {
          line-height: inherit;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

.trade-detail-submit-btn {
  width: 160px;
  margin: auto;
  line-height: 30px;
  // background: rgba(250, 100, 0, 1);
  background: #f2e205;
  border-radius: 4px;
  color: #21212b;
  text-align: center;
  font-weight: bold;
  font-size: 16px;

  &.add {
    background: #f2e205;
  }

  &.modify {
    background: #fa6400;
  }

  &.reject {
    background-color: #6d7278 !important;
    color: #21212b !important;
  }
}

.trade-detail-remarks-container {
  padding: 0 16px;
  font-size: 12px;
  border-top: 1px solid rgba(46, 59, 85, 1);
  font-size: 14px;

  .trade-detail-remarks-item {
    display: flex;
    justify-content: space-between;

    .trade-detail-remarks-item-title {
      color: #838d9e;
      flex-basis: 24.2%;
      line-height: 27px;
      //font-size: 14px;
    }

    .trade-detail-remarks-item-content {
      color: #fff;
      flex-basis: 75.8%;
      line-height: 27px;
      //font-size: 14px;
    }
  }

  .trade-detail-remarks-placeholder {
    color: #838d9e;
    line-height: 27px;
  }
}