.app-tabbar {
  backdrop-filter: unset !important;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

  .tab-link {
    padding-bottom: 2px !important;
  }

  .icon {
    width: r(24);
    margin-bottom: r(2);
  }

  .tabbar-label {
    color: #fff;
  }

  .market-icon {
    background-image: url('../static/icons/market-icon.svg');
  }

  .chart-icon {
    background-image: url('../static/icons/chart-icon.svg');
  }

  .trade-icon {
    background-image: url('../static/icons/trade-icon.svg');
  }

  .subscribe-icon {
    background-image: url('../static/icons/subscribe-icon.svg');
  }

  .news-icon {
    background-image: url('../static/icons/news-icon.svg');
  }

  .history-icon {
    background-image: url('../static/icons/history-icon.png');
  }

  .settings-icon {
    background-image: url('../static/icons/settings-icon.svg');
  }

  .self-select-icon {
    background-image: url('../static/icons/self-select-icon.svg');
  }

  .self-select-icon-active {
    background-image: url('../static/icons/self-select-icon-active.svg');
  }

  .tab-link-active {
    .tabbar-label {
      color: #f2e206;
    }

    .market-icon {
      background-image: url('../static/icons/market-icon-selected.svg');
    }

    .chart-icon {
      background-image: url('../static/icons/chart-icon-selected.svg');
    }

    .trade-icon {
      background-image: url('../static/icons/trade-icon-selected.svg');
    }

    .subscribe-icon {
      background-image: url('../static/icons/subscribe-icon-selected.svg');
    }

    .news-icon {
      background-image: url('../static/icons/news-icon-selected.svg');
    }

    .history-icon {
      background-image: url('../static/icons/history-icon-selected.svg');
    }

    .settings-icon {
      background-image: url('../static/icons/settings-icon-selected.svg');
    }
  }
}