/* Custom color theme properties */
$primary: #21212b;

:root {
  --f7-theme-color: #21212b;
  --f7-theme-color-rgb: 50, 84, 151;
  --f7-theme-color-shade: #284378;
  --f7-theme-color-tint: #3c65b6;
  --f7-bars-text-color: #fff;
  --f7-bars-bg-color: #21212b;
  --f7-bars-bg-color-rgb: 50, 84, 151;
  --f7-list-margin-vertical: 0;
  --f7-navbar-inner-padding-left: 16px;
  --f7-navbar-inner-padding-right: 16px;
}

.ios-translucent-bars .navbar-bg {
  background-color: #21212b;
}

.ios-translucent-bars .toolbar {
  background-color: #21212b;
}

.block {
  margin: 0;
}

.ios {
  --f7-swipeout-button-padding: 0 10px;
}

.md {
  --f7-swipeout-button-padding: 0 10px;
}

.page {
  background-color: #21212b;
}

.navbar {
  .navbar-inner {
    justify-content: space-between;
    font-size: 20px;

    a.icon-only {
      padding: 0;
      width: auto;
    }

    .left {
      min-width: 24px;
    }

    .right {
      margin-left: unset;
      min-width: 30px;
      justify-content: flex-end;
    }
  }
}

.error-msg {
  height: var(--f7-input-height);
  line-height: var(--f7-input-height);
  text-align: center;
  font-size: 14px;
  color: #ff3b30;
}

.trade-modal.ant-modal-confirm {
  max-width: calc(100vw - 76px);

  &.success-modal {
    .ant-modal-confirm-body {
      .anticon {
        display: none;
      }

      .ant-modal-confirm-content {
        margin-left: unset;
      }
    }

    .ant-modal-confirm-btns {
      justify-content: center;
    }
  }

  .ant-modal-content {
    border-radius: 4px;
  }

  .ant-modal-body {
    padding: 26px 16px;

    .ant-modal-confirm-body {
      text-align: center;
    }

    .ant-modal-confirm-title {
      color: #838d9e;
      font-size: 17px;
    }

    .ant-modal-confirm-content {
      margin-top: 22px;
      color: #838d9e;
      font-size: 14px;
    }
  }

  .ant-modal-confirm-btns {
    float: none;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    > button {
      width: 100px;
      line-height: 28px;
      padding: 0;

      &:nth-child(1) {
        background-color: rgba(242, 226, 5, 1);
        border: 1px solid rgba(242, 226, 5, 1);
        color: #21212b;
      }

      &:nth-child(2) {
        background-color: transparent;
        border: 1px solid #838d9e;
        color: #838d9e;
      }
    }
  }
}

.history-time-filter {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  line-height: 28px;
  border-radius: 10px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 10px;

  .ant-picker.ant-picker-borderless {
    background-color: #17283e !important;

    input {
      color: #ffffff;
    }

    .ant-picker-suffix {
      display: none;
    }
  }

  > div {
    background: rgba(23, 40, 62, 1);
    flex-basis: 33.333%;
    text-align: center;
  }
}

.ant-picker-dropdown {
  .ant-picker-panel-container {
    background-color: #2b3542;

    .ant-picker-panel {
      border: unset;
    }

    .ant-picker-header {
      border-bottom: unset;

      button {
        width: unset;
        color: #ffffff;
      }
    }

    .ant-picker-body {
      .ant-picker-content {
        th,
        .ant-picker-cell-in-view {
          color: #ffffff;
        }

        .ant-picker-cell-disabled {
          &::before {
            background: unset;
          }

          .ant-picker-cell-inner {
            color: rgba(0, 0, 0, 0.5);
          }
        }

        .ant-picker-cell-selected {
          .ant-picker-cell-inner {
            background: unset;
            color: unset;
            border: 1px solid #f2e205;
            border-radius: 50%;
          }
        }

        .ant-picker-cell-today {
          .ant-picker-cell-inner::before {
            content: unset;
          }
        }
      }
    }
  }
}

.ant-spin.ant-spin-spinning.spin-icon {
  margin-bottom: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* Your app custom styles here */
@import "./reset", "./font", "./base", "./common";
