/* Custom color theme properties */
:root {
  --f7-theme-color: #325497;
  --f7-theme-color-rgb: 50, 84, 151;
  --f7-theme-color-shade: #284378;
  --f7-theme-color-tint: #3c65b6;
}

/* Your app custom styles here */
@import "./reset", "./font", "./base", "./common";
