// up 涨 down 跌颜色，吃 css 变数
.p-up {
  color: var(--up-color) !important;
}

.p-down {
  color: var(--down-color) !important;
}

.p-grey {
  color: $grey;
}

.p-black {
  color: black;
}

.bg-up {
  background-color: var(--up-color);
}

.bg-down {
  background-color: var(--down-color);
}

.bg-grey {
  background-color: $grey;
}

.bg-deep-grey {
  background-color: #ccc;
}

.bg-orange {
  background-color: #f7b500;
}

.stock-up {
  animation: stock-up-light 1.5s;
  font-weight: bold;
}
.stock-down {
  animation: stock-down-light 1.5s;
  font-weight: bold;
}

@keyframes stock-up-light {
  0% {
    background: linear-gradient(
      135deg,
      rgba(var(--up-color-rgb), 0.1) 0%,
      rgba(var(--up-color-rgb), 0.8) 100%
    );
  }

  10% {
    background: linear-gradient(
      135deg,
      rgba(var(--up-color-rgb), 0.1) 10%,
      rgba(var(--up-color-rgb), 0.8) 100%
    );
  }

  20% {
    background: linear-gradient(
      135deg,
      rgba(var(--up-color-rgb), 0.1) 20%,
      rgba(var(--up-color-rgb), 0.8) 100%
    );
  }

  30% {
    background: linear-gradient(
      135deg,
      rgba(var(--up-color-rgb), 0.1) 30%,
      rgba(var(--up-color-rgb), 0.8) 100%
    );
  }

  40% {
    background: linear-gradient(
      135deg,
      rgba(var(--up-color-rgb), 0.1) 40%,
      rgba(var(--up-color-rgb), 0.8) 100%
    );
  }

  50% {
    background: linear-gradient(
      135deg,
      rgba(var(--up-color-rgb), 0.1) 50%,
      rgba(var(--up-color-rgb), 0.8) 100%
    );
  }

  60% {
    background: linear-gradient(
      135deg,
      rgba(var(--up-color-rgb), 0.1) 60%,
      rgba(var(--up-color-rgb), 0.8) 100%
    );
  }

  70% {
    background: linear-gradient(
      135deg,
      rgba(var(--up-color-rgb), 0.1) 70%,
      rgba(var(--up-color-rgb), 0.8) 100%
    );
  }

  80% {
    background: linear-gradient(
      135deg,
      rgba(var(--up-color-rgb), 0.1) 80%,
      rgba(var(--up-color-rgb), 0.8) 100%
    );
  }

  90% {
    background: linear-gradient(
      135deg,
      rgba(var(--up-color-rgb), 0.1) 90%,
      rgba(var(--up-color-rgb), 0.8) 100%
    );
  }

  100% {
    background: transparent;
  }
}

@keyframes stock-down-light {
  0% {
    background: linear-gradient(
      135deg,
      rgba(var(--down-color-rgb), 0.1) 0%,
      rgba(var(--down-color-rgb), 0.8) 100%
    );
  }

  10% {
    background: linear-gradient(
      135deg,
      rgba(var(--down-color-rgb), 0.1) 10%,
      rgba(var(--down-color-rgb), 0.8) 100%
    );
  }

  20% {
    background: linear-gradient(
      135deg,
      rgba(var(--down-color-rgb), 0.1) 20%,
      rgba(var(--down-color-rgb), 0.8) 100%
    );
  }

  30% {
    background: linear-gradient(
      135deg,
      rgba(var(--down-color-rgb), 0.1) 30%,
      rgba(var(--down-color-rgb), 0.8) 100%
    );
  }

  40% {
    background: linear-gradient(
      135deg,
      rgba(var(--down-color-rgb), 0.1) 40%,
      rgba(var(--down-color-rgb), 0.8) 100%
    );
  }

  50% {
    background: linear-gradient(
      135deg,
      rgba(var(--down-color-rgb), 0.1) 50%,
      rgba(var(--down-color-rgb), 0.8) 100%
    );
  }

  60% {
    background: linear-gradient(
      135deg,
      rgba(var(--down-color-rgb), 0.1) 60%,
      rgba(var(--down-color-rgb), 0.8) 100%
    );
  }

  70% {
    background: linear-gradient(
      135deg,
      rgba(var(--down-color-rgb), 0.1) 70%,
      rgba(var(--down-color-rgb), 0.8) 100%
    );
  }

  80% {
    background: linear-gradient(
      135deg,
      rgba(var(--down-color-rgb), 0.1) 80%,
      rgba(var(--down-color-rgb), 0.8) 100%
    );
  }

  90% {
    background: linear-gradient(
      135deg,
      rgba(var(--down-color-rgb), 0.1) 90%,
      rgba(var(--down-color-rgb), 0.8) 100%
    );
  }

  100% {
    background: transparent;
  }
}
