// placeholder
.p-up {
  color: $up !important;
}

.p-down {
  color: $down !important;
}

.p-grey {
  color: $grey;
}

.p-black {
  color: black;
}

.bg-up {
  background-color: $up;
}

.bg-down {
  background-color: $down;
}

.bg-grey {
  background-color: $grey;
}

.bg-deep-grey {
  background-color: #ccc;
}

.bg-orange {
  background-color: #f7b500;
}
