.news-detail {
  .news-detail-title,
  .news-detail-content {
    padding: 8px 14px;
  }

  .news-detail-title {
    border-bottom: 1px solid #2e3b55;
    margin-top: 28px;
    margin-bottom: 12px;
  }

  .news-detail-title-text {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 16px;
  }

  .news-detail-title-time {
    font-size: 12px;
    color: #838d9e;
    margin-bottom: 8px;
  }

  .news-detail-content {
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 110px;

    p {
      margin-bottom: 22px;
      line-height: 2;

      img {
        width: 100% !important;
        height: unset !important;
        // margin: 20px 0 !important;
      }
    }
  }
}